<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - To-Do List</title>
    <link rel="stylesheet" href="../static/login_styles.css">
</head>
<body>
    <header>
        <h1>To-Do List</h1>
    </header>
    <main>
        <section class="login-form">
            <h2>Login</h2>
            <form action="/" method="POST">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit" class="submit-button">Login</button>
            </form>
            <p class="register-link">
                Don't have an account? <a href="{{ url_for('user.add_user') }}" class="register-button">Register here</a>
            </p>
            <hr>
            <!-- Botón para iniciar sesión con Auth0 -->
            <a href="{{ url_for('user.login') }}" class="auth0-button">Login with Auth0</a>
        </section>
    </main>
</body>
</html>